<mat-toolbar color="primary">
    <span class="title">My App</span>
    <button mat-button class="m-2" [matMenuTriggerFor]="menu" >Data Management</button>
    <mat-menu #menu="matMenu">
        <button [routerLink]="'/dataManagement/'+d" mat-menu-item *ngFor="let d of dm">{{d}}</button>
    </mat-menu>
    
  </mat-toolbar>
  

  <router-outlet></router-outlet>
<div style="margin-left: 70px; margin-top: 20px; height: 95%; width: 89.2%;">

  
<app-grid [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" [rowData]="rowData"></app-grid>

</div>